
@media screen and (min-width: 425px) {
    .projectsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10%;
        font-family: monospace;
    }

    .project{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: 25px;
        padding: 25px;
        font-family: monospace;
        font-size: 1.1em;
        border-radius: 15px;
        transition: 0.7s;
        transform: translateY(0);
    }

    .projectDescription {
        text-align: left;
        font-size: large;
    }
}

@media screen and (max-width: 424px) {
    .projectsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10%;
        font-family: monospace;
    }

    .project{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 25px;
        padding: 25px;
        font-family: monospace;
        font-size: 1.1em;
        border-radius: 15px;
        transition: 0.7s;
        transform: translateY(0);
    }

    .projectDescription {
        text-align: left;
        font-size: medium;
    }
}

.projectsHeading {
    font-size: 2em;
    font-weight: bold;
    margin: 25px;
}


.project:hover {
    color: white;
    transform: translateY(-5px);
    box-shadow: 7px 11px 20px 5px #000000;
    
}

.projectTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px;
}

.githubLogo {
    width: 50px;
    height: 50px;
    margin: 10px;
}