.aboutContainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25%;
}

.aboutHeading{
    font-size: 2em;
    margin-bottom: 1rem;
    margin-top: 2em;
}