@media screen and (min-width: 1025px) {
    .techStackContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin-top: 200px;
        margin: 10%;
        font-family: monospace;
    }
}

@media screen and (max-width: 1024px) {
    .techStackContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 200px;
        margin: 10%;
        font-family: monospace;
    }
}

.techStackHeading{
    font-size: 2em;
    margin-bottom: 1rem;
    margin-top: 2em;
}

.techStackHeading1{
    font-size: 1.7em;
    margin-bottom: 1rem;
    margin-top: 2em;
}

.techStackItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 1.5em;
    width: 70%;
    height: 200px;
    margin: 25px;
    padding: 5px;
    text-align: center;
}

@media screen and (min-width: 510px) {
    .cubeRow{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 30px;
    }

    .cubeHolder{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 25px;
    }
}

@media screen and (max-width: 509px) {
    .cubeRow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px;
    }

    .cubeHolder{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 50px;
    }
}

.linkButton{
    font-size: 1.1em;
    font-weight: bolder;
    background-color: transparent;
}