.overview {
    align-self: center;
    margin-left: 10%;
}

.OverviewList {
    list-style-type: none;
    text-align: left;
    font-family: monospace;
}

.normal {
    font-size: 1.2em;
    color: #fff;
    transition: 0.5s;
}

.highlighted {
    font-size: 1.5em;
    margin-left: 20px;
}

.inSiteLink{
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    transition: 0.5s;
}
.inSiteLink:hover{
    color: #fff;
    background-color: #272727;
}