.overview {
    align-self: center;
    margin-left: 10%;
}

@media screen and (min-width: 1025px) {
    .OverviewList {
        list-style-type: none;
        text-align: left;
        font-family: monospace;
    }
}

@media screen and (max-width: 1024px) {
    .OverviewList {
        display: none;
        list-style-type: none;
        text-align: left;
        font-family: monospace;
    }
}

.normal {
    font-size: 1.2em;
    color: #fff;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inSiteLink{
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.5s;
}
.inSiteLink:hover{
    color: #fff;
    border: 1px solid #272727;
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.dash{
    background-color: #fff;
    border: 1px solid #fff;
    width: 10px;
    transition: 0.5s;
}

.dashHighlighted{
    width: 35px;
}