.socialsContainer{
    display: flex;
    justify-content: first baseline;
    align-items: center;
    width: fit-content;
    margin-top: 10%;
    margin-bottom: 20px;
    width: 100%;
}

.block{
    width: 52px;
    height: 52px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    cursor: pointer;
    margin: 10px;
}

.socialsIcon{
    width: 40px
}

#github:hover{
    background-color: #24292e;
    transition-duration: .3s;
}

#Instagram:hover{
    background-color: #e4405f;
    transition-duration: .3s;
}

#LinkedIn:hover{
    background-color: #8BB7F1;
    transition-duration: .3s;
}

.block:hover .socialsIcon{
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  