:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to bottom, #05011a 0%, #0e0033 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom, #05011a 0%, #0e0033 100%);
  overflow-y: hidden;
}

@media screen and (min-width: 1025px) {
  .customRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .stickyDiv{
    position: fixed;
    width: 35vw;
    align-items: center;
    margin-top: 150px;
  }
  
  .hauptInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    justify-content: first baseline;
    color: #fff;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    width: 35vw;
    margin-top: 150px;
    margin-top: 10%;
    margin-bottom: 10%;
    height: fit-content;
    color: #fff;
    font-family: monospace;
  }
}

@media screen and (max-width: 1024px) {
  .customRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .hauptInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    justify-content: center;
    color: #fff;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    width: 80vw;
    margin-top: 40%;
    margin-bottom: 40%;
    height: fit-content;
    color: #fff;
    font-family: monospace;
  }
}

.star{
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation: blink 1s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}

.parallaxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}